/* header */

h2 {
  font-family: "Merienda", cursive;
}

h3 {
  font-family: "Merienda", cursive;
  margin: 0;
}

h5 {
  font-family: "Gabriela", serif;
}

p {
  font-family: "Kalam", cursive;
  font-size: 100%;
  color: black;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  border: 1px solid #c9c9c9;
  margin-bottom: 12px;
  height: 80px;
  display: flex;
}

.box .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  flex-grow: 1;
  flex-wrap: wrap;
}

.cart.box h5,
.box .card-body h5 {
  width: 100%;
  margin: 0;
  padding: 8px 0;
  text-align: center;
  flex-grow: 1;
  font-size: 16px;
}

.box .card-body p {
  flex-grow: 1;
  text-align: right;
  margin-right: 16px;
  font-size: 22px;
}

.box .card-body .btn.btn-primary {
  margin-right: 16px;
  margin-top: -8px;
}

.box .card-image {
  width: 30%;
  background-position: center;
  background-size: cover;
}

.cart.box {
  display: flex;
  flex-direction: column;
  height: initial;
}

#total {
text-align: right;
margin-right: 16px;
}

#total span {
    min-width: 70px;
}

.col-sm-4 {
  /* box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 5%;
  background: whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  width: 11vw;
  height: 10.5vh; */
}

.col-sm-4:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

li.list-group-item.text-right {
  list-style-type: none;
  padding: 0;
}

aside {
  width: 20vw;
}

#carrito {
  min-height: 5vw;
}

button.btn.btn-danger {
  height: 3vh;
  width: 1.5vw;
}

.sumit {
  width: 40%;
  background: rgba(120, 200, 247, 0.5);
}

.sumit:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  font-size: 100%;
  font-family: "Gabriela", serif;
  background: rgba(115, 187, 8, 0.3);
  border: 1px solid rgba(115, 187, 8, 0.2);
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.form {
  width: 70%;
  margin-left: 20%;
  margin-top: 5%;
}

.validate {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
  width: 100vw;
  border-radius: 5px;
  font-family: "Kalam", cursive;
  font-size: 100%;
}

.validate:hover {
  background: rgba(115, 187, 8, 0.2);
}

.validate:focus {
  outline: none;
}

.send {
  width: 25%;
  margin-left: 37.5%;
}

#form-main {
  margin-top: 16px;
}

@media only screen and (min-width: 769px) {
    .container {
        flex-direction: row;
    }

    .container > section {
        flex-grow: 1;
        width: 50%;
    }
}