/* header */

h2 {
  font-family: "Merienda", cursive;
}

h3 {
  font-family: "Merienda", cursive;
  margin: 0;
}

h5 {
  font-family: "Gabriela", serif;
}

p {
  font-family: "Kalam", cursive;
  font-size: 100%;
  color: black;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  border: 1px solid #c9c9c9;
  margin-bottom: 12px;
  height: 80px;
  display: flex;
}

.box .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  flex-grow: 1;
  flex-wrap: wrap;
}

.cart.box h5,
.box .card-body h5 {
  width: 100%;
  margin: 0;
  padding: 8px 0;
  text-align: center;
  flex-grow: 1;
  font-size: 16px;
}

.box .card-body p {
  flex-grow: 1;
  text-align: right;
  margin-right: 16px;
  font-size: 22px;
}

.box .card-body .btn.btn-primary {
  margin-right: 16px;
  margin-top: -8px;
}

.box .card-image {
  width: 30%;
  background-position: center;
  background-size: cover;
}

.cart.box {
  display: flex;
  flex-direction: column;
  height: initial;
}

#total {
  text-align: right;
  margin-right: 16px;
}

#total span {
  min-width: 70px;
}

.col-sm-4:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

li.list-group-item.text-right {
  list-style-type: none;
  padding: 0;
}

aside {
  width: 20vw;
}

#carrito {
  min-height: 5vw;
}

button.btn.btn-danger {
  height: 3vh;
  width: 1.5vw;
}

.sumit {
  width: 40%;
  background: rgba(120, 200, 247, 0.5);
}

.sumit:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  font-size: 100%;
  font-family: "Gabriela", serif;
  /* background: rgba(115, 187, 8, 0.3); */
  border: 1px solid rgba(115, 187, 8, 0.2);
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.form {
  width: 70%;
  margin-left: 20%;
  margin-top: 5%;
}

input[type=text] {
  padding: 0;
  height: 20%;
}

input,
texterar {
 
  resize: none;
    box-sizing: border-box;
  margin-bottom: 12px;
}

.validate {
  width: 25%;
  border-radius: 5px;
  font-size: 100%;
  background: rgba(115, 187, 8, .3);
  border: 1px solid rgba(115, 187, 8, 0.2);
  margin-top: 0%;
  margin-bottom: 1%;

  box-shadow: 0 8% 16% 0 rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  height: 4.5%;
  font-size: 120%;
  font-family: 'Gabriela', serif;
}

.validate:hover {
  background: none;
}

label{
  font-family: 'Gabriela', serif;
  font-size: 120%;
  color: black;
  margin: 0;

}

option{
  font-family: 'Gabriela', serif;
  font-size: 120%;
  color: black;
  margin: 0;

}
.card-num {
  width: 25%;
  display: flex;
  flex-direction: row;
  color: rgb(34, 33, 33);
  margin: 1px;
}

.exp-date{
  width: 15%;
  display: flex;
  flex-direction: row;
  color: rgb(34, 33, 33);
  margin: 1px;
}

.card-back{
  width: 25%;
  display: flex;
  flex-direction: row;
  color: rgb(34, 33, 33);
  margin: 1px;
}

.send {
  width: 25%;
  margin-left: 37.5%;
}

#form-main {
  margin-top: 16px;
}

image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border-radius: 12px 12px 0 0;
}

@media only screen and (min-width: 769px) {
  .container {
    flex-direction: row;
  }

  .container>section {
    flex-grow: 1;
    width: 50%;
  }
}